body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

.divider {
    width: 60%;
    margin: 20px auto;
}

.resultBox {
    border: 1px solid black;
    background-color: #f2f2f2;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
}
